
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.index {
  border-bottom: 1px solid #ccc;
  padding: 1em;
}
.indexes .index img {
  witdh: 42px;
  height: 33px;
  margin-right: 1em;
}

.dirs .dir {
  padding: 0.4em;
  text-align: center;
}
