
h1 {
  font-size: 1.6em;
  margin: 0 0.4em 0 0;
}
.breadcrumb {
  margin-bottom: 0;
}
.breadcrumb .active {
  color: #999;
  text-decoration: none;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.index {
  border-bottom: 1px solid #ccc;
  padding: 1em;
}
.indexes .index img {
  witdh: 42px;
  height: 33px;
  margin-right: 1em;
}

.dirs .dir {
  padding: 0.4em;
  text-align: center;
}

.dirs .dir img {
  width: 100%
}
